html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: pixeled;
  src: url('/fonts/Pixeled.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 150% } 
}

/* @keyframes reveal {
  from { visibility: hidden}
  to {visibility: visible; }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */

* {
  box-sizing: border-box;
}
